# Uvoz podatkov

## Text encoding: ASCII, Unicode, and others

In [1]:
with open('data/out2.txt', 'wb') as f:
    f.write(bytes([65, 66, 67, 255, 192,193]))

In [5]:
with open('data/out2.txt', errors="ignore") as f:
    print(f.read())

ABC

In [6]:
with open('data/out2.txt', errors="replace") as f:
    print(f.read())

ABC���

## Reading and Writing Data with pandas

In [7]:
import pandas as pd
import numpy as np

[IO tools (text, CSV, HDF5, …)](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

<table class="colwidths-given table">
<colgroup>
<col style="width: 12%">
<col style="width: 40%">
<col style="width: 24%">
<col style="width: 24%">
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Format Type</p></th>
<th class="head"><p>Data Description</p></th>
<th class="head"><p>Reader</p></th>
<th class="head"><p>Writer</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p>text</p></td>
<td><p><a class="reference external" href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV</a></p></td>
<td><p><a class="reference internal" href="#io-read-csv-table"><span class="std std-ref">read_csv</span></a></p></td>
<td><p><a class="reference internal" href="#io-store-in-csv"><span class="std std-ref">to_csv</span></a></p></td>
</tr>
<tr class="row-odd"><td><p>text</p></td>
<td><p>Fixed-Width Text File</p></td>
<td><p><a class="reference internal" href="#io-fwf-reader"><span class="std std-ref">read_fwf</span></a></p></td>
<td></td>
</tr>
<tr class="row-even"><td><p>text</p></td>
<td><p><a class="reference external" href="https://www.json.org/">JSON</a></p></td>
<td><p><a class="reference internal" href="#io-json-reader"><span class="std std-ref">read_json</span></a></p></td>
<td><p><a class="reference internal" href="#io-json-writer"><span class="std std-ref">to_json</span></a></p></td>
</tr>
<tr class="row-odd"><td><p>text</p></td>
<td><p><a class="reference external" href="https://en.wikipedia.org/wiki/HTML">HTML</a></p></td>
<td><p><a class="reference internal" href="#io-read-html"><span class="std std-ref">read_html</span></a></p></td>
<td><p><a class="reference internal" href="#io-html"><span class="std std-ref">to_html</span></a></p></td>
</tr>
<tr class="row-even"><td><p>text</p></td>
<td><p><a class="reference external" href="https://en.wikipedia.org/wiki/LaTeX">LaTeX</a></p></td>
<td></td>
<td><p><a class="reference internal" href="#io-latex"><span class="std std-ref">Styler.to_latex</span></a></p></td>
</tr>
<tr class="row-odd"><td><p>text</p></td>
<td><p><a class="reference external" href="https://www.w3.org/standards/xml/core">XML</a></p></td>
<td><p><a class="reference internal" href="#io-read-xml"><span class="std std-ref">read_xml</span></a></p></td>
<td><p><a class="reference internal" href="#io-xml"><span class="std std-ref">to_xml</span></a></p></td>
</tr>
<tr class="row-even"><td><p>text</p></td>
<td><p>Local clipboard</p></td>
<td><p><a class="reference internal" href="#io-clipboard"><span class="std std-ref">read_clipboard</span></a></p></td>
<td><p><a class="reference internal" href="#io-clipboard"><span class="std std-ref">to_clipboard</span></a></p></td>
</tr>
<tr class="row-odd"><td><p>binary</p></td>
<td><p><a class="reference external" href="https://en.wikipedia.org/wiki/Microsoft_Excel">MS Excel</a></p></td>
<td><p><a class="reference internal" href="#io-excel-reader"><span class="std std-ref">read_excel</span></a></p></td>
<td><p><a class="reference internal" href="#io-excel-writer"><span class="std std-ref">to_excel</span></a></p></td>
</tr>
<tr class="row-even"><td><p>binary</p></td>
<td><p><a class="reference external" href="http://www.opendocumentformat.org">OpenDocument</a></p></td>
<td><p><a class="reference internal" href="#io-ods"><span class="std std-ref">read_excel</span></a></p></td>
<td></td>
</tr>
<tr class="row-odd"><td><p>binary</p></td>
<td><p><a class="reference external" href="https://support.hdfgroup.org/HDF5/whatishdf5.html">HDF5 Format</a></p></td>
<td><p><a class="reference internal" href="#io-hdf5"><span class="std std-ref">read_hdf</span></a></p></td>
<td><p><a class="reference internal" href="#io-hdf5"><span class="std std-ref">to_hdf</span></a></p></td>
</tr>
<tr class="row-even"><td><p>binary</p></td>
<td><p><a class="reference external" href="https://github.com/wesm/feather">Feather Format</a></p></td>
<td><p><a class="reference internal" href="#io-feather"><span class="std std-ref">read_feather</span></a></p></td>
<td><p><a class="reference internal" href="#io-feather"><span class="std std-ref">to_feather</span></a></p></td>
</tr>
<tr class="row-odd"><td><p>binary</p></td>
<td><p><a class="reference external" href="https://parquet.apache.org/">Parquet Format</a></p></td>
<td><p><a class="reference internal" href="#io-parquet"><span class="std std-ref">read_parquet</span></a></p></td>
<td><p><a class="reference internal" href="#io-parquet"><span class="std std-ref">to_parquet</span></a></p></td>
</tr>
<tr class="row-even"><td><p>binary</p></td>
<td><p><a class="reference external" href="https://orc.apache.org/">ORC Format</a></p></td>
<td><p><a class="reference internal" href="#io-orc"><span class="std std-ref">read_orc</span></a></p></td>
<td></td>
</tr>
<tr class="row-odd"><td><p>binary</p></td>
<td><p><a class="reference external" href="https://en.wikipedia.org/wiki/Stata">Stata</a></p></td>
<td><p><a class="reference internal" href="#io-stata-reader"><span class="std std-ref">read_stata</span></a></p></td>
<td><p><a class="reference internal" href="#io-stata-writer"><span class="std std-ref">to_stata</span></a></p></td>
</tr>
<tr class="row-even"><td><p>binary</p></td>
<td><p><a class="reference external" href="https://en.wikipedia.org/wiki/SAS_(software)">SAS</a></p></td>
<td><p><a class="reference internal" href="#io-sas-reader"><span class="std std-ref">read_sas</span></a></p></td>
<td></td>
</tr>
<tr class="row-odd"><td><p>binary</p></td>
<td><p><a class="reference external" href="https://en.wikipedia.org/wiki/SPSS">SPSS</a></p></td>
<td><p><a class="reference internal" href="#io-spss-reader"><span class="std std-ref">read_spss</span></a></p></td>
<td></td>
</tr>
<tr class="row-even"><td><p>binary</p></td>
<td><p><a class="reference external" href="https://docs.python.org/3/library/pickle.html">Python Pickle Format</a></p></td>
<td><p><a class="reference internal" href="#io-pickle"><span class="std std-ref">read_pickle</span></a></p></td>
<td><p><a class="reference internal" href="#io-pickle"><span class="std std-ref">to_pickle</span></a></p></td>
</tr>
<tr class="row-odd"><td><p>SQL</p></td>
<td><p><a class="reference external" href="https://en.wikipedia.org/wiki/SQL">SQL</a></p></td>
<td><p><a class="reference internal" href="#io-sql"><span class="std std-ref">read_sql</span></a></p></td>
<td><p><a class="reference internal" href="#io-sql"><span class="std std-ref">to_sql</span></a></p></td>
</tr>
<tr class="row-even"><td><p>SQL</p></td>
<td><p><a class="reference external" href="https://en.wikipedia.org/wiki/BigQuery">Google BigQuery</a></p></td>
<td><p><a class="reference internal" href="#io-bigquery"><span class="std std-ref">read_gbq</span></a></p></td>
<td><p><a class="reference internal" href="#io-bigquery"><span class="std std-ref">to_gbq</span></a></p></td>
</tr>
</tbody>
</table>

### CSV files

#### Primer 1: seaslug.txt

In [8]:
! head data/seaslug.txt

Time	Percent
99	0.067
99	0.133
99	0.067
99	0
99	0
0	0.5
0	0.467
0	0.857
0	0.5

In [11]:
seaslug = pd.read_csv("data/seaslug.txt", sep="\t")
seaslug.head()

   Time  Percent
0    99    0.067
1    99    0.133
2    99    0.067
3    99    0.000
4    99    0.000

- `sep: str, defaults to ',' for read_csv(), \t for read_table()`: Delimiter to use. If sep is None, the C engine cannot automatically detect the separator, but the Python parsing engine can, meaning the latter will be used and automatically detect the separator by Python’s builtin sniffer tool, csv.Sniffer. In addition, separators longer than 1 character and different from '\s+' will be interpreted as regular expressions and will also force the use of the Python parsing engine. Note that regex delimiters are prone to ignoring quoted data. Regex example: '\\r\\t'.

- `delimiter: str, default None`: Alias for sep.

#### Primer 2: FOOD_DES.txt

In [12]:
!head data/FOOD_DES.txt

In [17]:
pd.read_csv("data/FOOD_DES.txt", nrows=5, sep="^", header=None, encoding="iso-8859-1",quotechar="~")

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1001,100,"Butter, salted","BUTTER,WITH SALT",NaN,NaN,Y,NaN,0,NaN,6.38,4.27,8.79,3.87
1,1002,100,"Butter, whipped, with salt","BUTTER,WHIPPED,W/ SALT",NaN,NaN,Y,NaN,0,NaN,6.38,NaN,NaN,NaN
2,1003,100,"Butter oil, anhydrous","BUTTER OIL,ANHYDROUS",NaN,NaN,Y,NaN,0,NaN,6.38,4.27,8.79,3.87
3,1004,100,"Cheese, blue","CHEESE,BLUE",NaN,NaN,Y,NaN,0,NaN,6.38,4.27,8.79,3.87
4,1005,100,"Cheese, brick","CHEESE,BRICK",NaN,NaN,Y,NaN,0,NaN,6.38,4.27,8.79,3.87

- `nrows: int, default None` Number of rows of file to read. Useful for reading pieces of large files.

- `header: int or list of ints, default 'infer'` Row number(s) to use as the column names, and the start of the data. Default behavior is to infer the column names: if no names are passed the behavior is identical to header=0 and column names are inferred from the first line of the file, if column names are passed explicitly then the behavior is identical to header=None. Explicitly pass header=0 to be able to replace existing names.

- `encoding: str, default None` Encoding to use for UTF when reading/writing (e.g. 'utf-8'). [List of Python standard encodings](https://docs.python.org/3/library/codecs.html#standard-encodings).

- `quotechar: str (length 1)`: The character used to denote the start and end of a quoted item. Quoted items can include the delimiter and it will be ignored.

#### Primer 3: MplsStops.csv

In [18]:
!head data/mpls_stops.csv

Unnamed: 0,id Num,date,problem,MDC,citation Issued,person Search,vehicle Search,pre Race,race,gender,lat,long,police Precinct,neighborhood
,idNum,date,problem,MDC,citationIssued,personSearch,vehicleSearch,preRace,race,gender,lat,long,policePrecinct,neighborhood
6823.0,17-000003,2017-01-01 00:00:42,suspicious,MDC,,NO,NO,Unknown,Unknown,Unknown,44.96661711,-93.24645826,1,Cedar Riverside
6824.0,17-000007,2017-01-01 00:03:07,suspicious,MDC,,NO,NO,Unknown,Unknown,Male,44.98045,-93.27134,1,Downtown West
6825.0,17-000073,2017-01-01 00:23:15,traffic,MDC,,NO,NO,Unknown,White,Female,44.94835,-93.27538,5,Whittier
6826.0,17-000092,2017-01-01 00:33:48,suspicious,MDC,,NO,NO,Unknown,East African,Male,44.94836,-93.28135,5,Whittier
6827.0,17-000098,2017-01-01 00:37:58,traffic,MDC,,NO,NO,Unknown,White,Female,44.9790778,-93.26207579,1,Downtown West
6828.0,17-000111,2017-01-01 00:46:48,traffic,MDC,,NO,NO,Unknown,East African,Male,44.98053512,-93.26362691,1,Downtown West
6829.0,17-000114,2017-01-01 00:48:46,suspicious,MDC,,NO,NO,Unknown,Black,Male,44.98080828,-93.27314066,1,Downtown West
6830.0,17-000120,2017-01-01 00:50:55,traffic,MDC,,NO,NO,Unknown,Other,Female,44.9820925,-93.23815506,2,Marcy Holmes

In [19]:
mpls = pd.read_csv("data/mpls_stops.csv", nrows=4)

In [20]:
mpls

,Unnamed: 0,id Num,date,problem,MDC,citation Issued,person Search,vehicle Search,pre Race,race,gender,lat,long,police Precinct,neighborhood
0,NaN,idNum,date,problem,MDC,citationIssued,personSearch,vehicleSearch,preRace,race,gender,lat,long,policePrecinct,neighborhood
1,6823.0,17-000003,2017-01-01 00:00:42,suspicious,MDC,NaN,NO,NO,Unknown,Unknown,Unknown,44.96661711,-93.24645826,1,Cedar Riverside
2,6824.0,17-000007,2017-01-01 00:03:07,suspicious,MDC,NaN,NO,NO,Unknown,Unknown,Male,44.98045,-93.27134,1,Downtown West
3,6825.0,17-000073,2017-01-01 00:23:15,traffic,MDC,NaN,NO,NO,Unknown,White,Female,44.94835,-93.27538,5,Whittier

In [21]:
mpls.columns

Index(['Unnamed: 0', 'id Num', 'date', 'problem', 'MDC', 'citation Issued',
       'person Search', 'vehicle Search', 'pre Race', 'race', 'gender', 'lat',
       'long', 'police Precinct', 'neighborhood'],
      dtype='object')

In [22]:
new_column_names = ['Unnamed: 0', 'id Num', 'date', 'problem', 'MDC', 'citation Issued',
       'person Search', 'vehicle Search', 'pre Race', 'race', 'gender', 'lat',
       'long', 'police Precinct', 'neighborhood']

In [25]:
new_column_names = [name.lower().replace(" ", "_") for name in new_column_names]
new_column_names[0] = "case_number_id"
print(new_column_names)

['case_number_id', 'id_num', 'date', 'problem', 'mdc', 'citation_issued', 'person_search', 'vehicle_search', 'pre_race', 'race', 'gender', 'lat', 'long', 'police_precinct', 'neighborhood']

In [40]:
from datetime import datetime

dateparse = lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S")

In [55]:
mpls = pd.read_csv("data/mpls_stops.csv",
                   names=new_column_names,
                   skiprows=2,
                   engine='c',
                   true_values=["YES"],
                   false_values=["NO"],
                   index_col="case_number_id",
                   parse_dates=["date"],
                   date_parser=dateparse,
                   na_values=["Unknown"],
                   dtype={"mdc": "category", 'problem':'category', 'citation_issued': 'float',
                         'person_search': 'float', 'vehicle_search': 'float',  'pre_race':'category'}
                )

mpls.index = mpls.index.astype("int")

mpls.head()

,id_num,date,problem,mdc,citation_issued,person_search,vehicle_search,pre_race,race,gender,lat,long,police_precinct,neighborhood
case_number_id,,,,,,,,,,,,,,
6823,17-000003,2017-01-01 00:00:42,suspicious,MDC,1.0,0.0,0.0,NaN,NaN,NaN,44.966617,-93.246458,1,Cedar Riverside
6824,17-000007,2017-01-01 00:03:07,suspicious,MDC,1.0,0.0,0.0,NaN,NaN,Male,44.980450,-93.271340,1,Downtown West
6825,17-000073,2017-01-01 00:23:15,traffic,MDC,1.0,0.0,0.0,NaN,White,Female,44.948350,-93.275380,5,Whittier
6826,17-000092,2017-01-01 00:33:48,suspicious,MDC,1.0,0.0,0.0,NaN,East African,Male,44.948360,-93.281350,5,Whittier
6827,17-000098,2017-01-01 00:37:58,traffic,MDC,1.0,0.0,0.0,NaN,White,Female,44.979078,-93.262076,1,Downtown West

In [45]:
mpls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51920 entries, 6823 to 60838
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_num           51920 non-null  object
 1   date             51920 non-null  datetime64[ns]
 2   problem          51920 non-null  category
 3   mdc              51920 non-null  category
 4   citation_issued  51920 non-null  float64
 5   person_search    51920 non-null  float64
 6   vehicle_search   51920 non-null  float64
 7   pre_race         15362 non-null  category
 8   race             34480 non-null  object
 9   gender           37146 non-null  object
 10  lat              51920 non-null  float64
 11  long             51920 non-null  float64
 12  police_precinct  51920 non-null  int64
 13  neighborhood     51920 non-null  object
dtypes: category(3), datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 4.9+ MB

In [37]:
%timeit mpls = pd.read_csv('data/mpls_stops.csv', names=new_column_names, skiprows=2, engine='python')

481 ms ± 20.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [38]:
%timeit mpls = pd.read_csv('data/mpls_stops.csv', names=new_column_names, skiprows=2, engine='c')

270 ms ± 2.61 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

#### Primer 4: iperf.txt

In [56]:
!head data/iperf.txt

Wed Aug 15 19:35:11 CEST 2018
Connecting to host x.x.x.x, port 5201
[  4] local x.x.x.x port 48944 connected to x.x.x.x port 5201
[ ID] Interval           Transfer     Bandwidth       Retr  Cwnd
[  4]   0.00-1.00   sec   375 MBytes  3.14 Gbits/sec  273    471 KBytes
[  4]   1.00-2.00   sec   428 MBytes  3.59 Gbits/sec  145    376 KBytes
[  4]   2.00-3.00   sec   360 MBytes  3.02 Gbits/sec  148    454 KBytes
[  4]   3.00-4.00   sec   339 MBytes  2.84 Gbits/sec   83    407 KBytes
[  4]   4.00-5.00   sec   305 MBytes  2.56 Gbits/sec  104    414 KBytes
[  4]   5.00-6.00   sec   301 MBytes  2.53 Gbits/sec  186    440 KBytes

In [62]:
with open("data/iperf.txt", "r") as f:
    data = f.readlines()
    data = [line.strip() for line in data]

In [64]:
print(data)

['Wed Aug 15 19:35:11 CEST 2018', 'Connecting to host x.x.x.x, port 5201', '[  4] local x.x.x.x port 48944 connected to x.x.x.x port 5201', '[ ID] Interval           Transfer     Bandwidth       Retr  Cwnd', '[  4]   0.00-1.00   sec   375 MBytes  3.14 Gbits/sec  273    471 KBytes', '[  4]   1.00-2.00   sec   428 MBytes  3.59 Gbits/sec  145    376 KBytes', '[  4]   2.00-3.00   sec   360 MBytes  3.02 Gbits/sec  148    454 KBytes', '[  4]   3.00-4.00   sec   339 MBytes  2.84 Gbits/sec   83    407 KBytes', '[  4]   4.00-5.00   sec   305 MBytes  2.56 Gbits/sec  104    414 KBytes', '[  4]   5.00-6.00   sec   301 MBytes  2.53 Gbits/sec  186    440 KBytes', '[  4]   6.00-7.00   sec   325 MBytes  2.73 Gbits/sec  174    485 KBytes', '[  4]   7.00-8.00   sec   434 MBytes  3.64 Gbits/sec   81    677 KBytes', '[  4]   8.00-9.00   sec   412 MBytes  3.46 Gbits/sec  226    537 KBytes', '[  4]   9.00-10.00  sec   409 MBytes  3.43 Gbits/sec   47    372 KBytes', '[  4]   10.00-11.00  sec   523 MBytes  3.81 Gbits/sec   96    422 KBytes']

In [65]:
start_time = datetime.strptime(data[0], "%a %b %d %H:%M:%S CEST %Y")
print(start_time, type(start_time))

2018-08-15 19:35:11 <class 'datetime.datetime'>

In [66]:
data

['Wed Aug 15 19:35:11 CEST 2018',
 'Connecting to host x.x.x.x, port 5201',
 '[  4] local x.x.x.x port 48944 connected to x.x.x.x port 5201',
 '[ ID] Interval           Transfer     Bandwidth       Retr  Cwnd',
 '[  4]   0.00-1.00   sec   375 MBytes  3.14 Gbits/sec  273    471 KBytes',
 '[  4]   1.00-2.00   sec   428 MBytes  3.59 Gbits/sec  145    376 KBytes',
 '[  4]   2.00-3.00   sec   360 MBytes  3.02 Gbits/sec  148    454 KBytes',
 '[  4]   3.00-4.00   sec   339 MBytes  2.84 Gbits/sec   83    407 KBytes',
 '[  4]   4.00-5.00   sec   305 MBytes  2.56 Gbits/sec  104    414 KBytes',
 '[  4]   5.00-6.00   sec   301 MBytes  2.53 Gbits/sec  186    440 KBytes',
 '[  4]   6.00-7.00   sec   325 MBytes  2.73 Gbits/sec  174    485 KBytes',
 '[  4]   7.00-8.00   sec   434 MBytes  3.64 Gbits/sec   81    677 KBytes',
 '[  4]   8.00-9.00   sec   412 MBytes  3.46 Gbits/sec  226    537 KBytes',
 '[  4]   9.00-10.00  sec   409 MBytes  3.43 Gbits/sec   47    372 KBytes',
 '[  4]   10.00-11.00  sec   523 MBytes  3.81 Gbits/sec   96    422 KBytes']

In [71]:
import datetime

rows = []

for line in data[4:]:
    line_splited = line.split()
    add_seconds = int(line_splited[2].split(".")[0])
    timestamp = start_time + datetime.timedelta(seconds=add_seconds)
    transfer_megasec = int(line_splited[4])
    bandwith_gbs = float(line_splited[6])
    retr = int(line_splited[8])
    cwnd_kbyts = int(line_splited[9])    
    rows.append((timestamp, transfer_megasec,bandwith_gbs,retr,cwnd_kbyts))
    
print(rows)

[(datetime.datetime(2018, 8, 15, 19, 35, 11), 375, 3.14, 273, 471), (datetime.datetime(2018, 8, 15, 19, 35, 12), 428, 3.59, 145, 376), (datetime.datetime(2018, 8, 15, 19, 35, 13), 360, 3.02, 148, 454), (datetime.datetime(2018, 8, 15, 19, 35, 14), 339, 2.84, 83, 407), (datetime.datetime(2018, 8, 15, 19, 35, 15), 305, 2.56, 104, 414), (datetime.datetime(2018, 8, 15, 19, 35, 16), 301, 2.53, 186, 440), (datetime.datetime(2018, 8, 15, 19, 35, 17), 325, 2.73, 174, 485), (datetime.datetime(2018, 8, 15, 19, 35, 18), 434, 3.64, 81, 677), (datetime.datetime(2018, 8, 15, 19, 35, 19), 412, 3.46, 226, 537), (datetime.datetime(2018, 8, 15, 19, 35, 20), 409, 3.43, 47, 372), (datetime.datetime(2018, 8, 15, 19, 35, 21), 523, 3.81, 96, 422)]

In [72]:
import csv

headers = ['timestamp', 'transfer_mbytesec', 'bandwidth_gbitsec', 'retr', 'cwnd_kbytes']

with open("data/iperf_clean.csv", "w") as f:
    f_csv = csv.writer(f)
    f_csv.writerow(headers)
    f_csv.writerows(rows)

In [73]:
iperf_df = pd.read_csv("data/iperf_clean.csv", parse_dates=["timestamp"], index_col=["timestamp"])
iperf_df

                     transfer_mbytesec  bandwidth_gbitsec  retr  cwnd_kbytes
timestamp
2018-08-15 19:35:11                375               3.14   273          471
2018-08-15 19:35:12                428               3.59   145          376
2018-08-15 19:35:13                360               3.02   148          454
2018-08-15 19:35:14                339               2.84    83          407
2018-08-15 19:35:15                305               2.56   104          414
2018-08-15 19:35:16                301               2.53   186          440
2018-08-15 19:35:17                325               2.73   174          485
2018-08-15 19:35:18                434               3.64    81          677
2018-08-15 19:35:19                412               3.46   226          537
2018-08-15 19:35:20                409               3.43    47          372
2018-08-15 19:35:21                523               3.81    96          422

In [74]:
iperf_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11 entries, 2018-08-15 19:35:11 to 2018-08-15 19:35:21
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   transfer_mbytesec  11 non-null     int64
 1   bandwidth_gbitsec  11 non-null     float64
 2   retr               11 non-null     int64
 3   cwnd_kbytes        11 non-null     int64
dtypes: float64(1), int64(3)
memory usage: 440.0 bytes

### Reading JSON files

#### Orient options

In [75]:
dfjo = pd.DataFrame(dict(A=range(1, 4), B=range(4, 7), C=range(7, 10)), columns=list('ABC'), index=list('xyz'))

In [76]:
dfjo

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

<table class="colwidths-given table">
<colgroup>
<col style="width: 12%">
<col style="width: 88%">
</colgroup>
<tbody>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">split</span></code></p></td>
<td><p>dict like {index -&gt; [index], columns -&gt; [columns], data -&gt; [values]}</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">records</span></code></p></td>
<td><p>list like [{column -&gt; value}, … , {column -&gt; value}]</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">index</span></code></p></td>
<td><p>dict like {index -&gt; {column -&gt; value}}</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">columns</span></code></p></td>
<td><p>dict like {column -&gt; {index -&gt; value}}</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">values</span></code></p></td>
<td><p>just the values array</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">table</span></code></p></td>
<td><p>adhering to the JSON <a class="reference external" href="https://specs.frictionlessdata.io/json-table-schema/">Table Schema</a></p></td>
</tr>
</tbody>
</table>

In [77]:
dfjo.to_json(orient="columns")

'{"A":{"x":1,"y":2,"z":3},"B":{"x":4,"y":5,"z":6},"C":{"x":7,"y":8,"z":9}}'

In [65]:
dfjo.to_json(orient="index")

'{"x":{"A":1,"B":4,"C":7},"y":{"A":2,"B":5,"C":8},"z":{"A":3,"B":6,"C":9}}'

In [66]:
dfjo.to_json(orient="records")

'[{"A":1,"B":4,"C":7},{"A":2,"B":5,"C":8},{"A":3,"B":6,"C":9}]'

In [67]:
dfjo.to_json(orient="values")

'[[1,4,7],[2,5,8],[3,6,9]]'

In [68]:
dfjo.to_json(orient="split")

'{"columns":["A","B","C"],"index":["x","y","z"],"data":[[1,4,7],[2,5,8],[3,6,9]]}'

In [69]:
dfjo.to_json(orient="table")

'{"schema": {"fields":[{"name":"index","type":"string"},{"name":"A","type":"integer"},{"name":"B","type":"integer"},{"name":"C","type":"integer"}],"primaryKey":["index"],"pandas_version":"0.20.0"}, "data": [{"index":"x","A":1,"B":4,"C":7},{"index":"y","A":2,"B":5,"C":8},{"index":"z","A":3,"B":6,"C":9}]}'

#### Primer: ocenas.json

In [78]:
!head data/ocenas.json

{"description":{"title":"Global Land and Ocean Temperature Anomalies, January-December","units":"Degrees Celsius","base_period":"1901-2000","missing":-999},"data":{"1880":"-0.12","1881":"-0.09","1882":"-0.10","1883":"-0.18","1884":"-0.27","1885":"-0.25","1886":"-0.25","1887":"-0.29","1888":"-0.13","1889":"-0.09","1890":"-0.35","1891":"-0.26","1892":"-0.31","1893":"-0.33","1894":"-0.31","1895":"-0.24","1896":"-0.09","1897":"-0.10","1898":"-0.27","1899":"-0.15","1900":"-0.07","1901":"-0.15","1902":"-0.25","1903":"-0.37","1904":"-0.45","1905":"-0.27","1906":"-0.20","1907":"-0.38","1908":"-0.43","1909":"-0.44","1910":"-0.40","1911":"-0.44","1912":"-0.33","1913":"-0.32","1914":"-0.14","1915":"-0.09","1916":"-0.32","1917":"-0.40","1918":"-0.30","1919":"-0.25","1920":"-0.23","1921":"-0.16","1922":"-0.24","1923":"-0.25","1924":"-0.24","1925":"-0.18","1926":"-0.08","1927":"-0.17","1928":"-0.18","1929":"-0.33","1930":"-0.11","1931":"-0.06","1932":"-0.13","1933":"-0.26","1934":"-0.11","1935":"-0.16","1936":"-0.12","1937":"-0.01","1938":"-0.02","1939":"0.01","1940":"0.16","1941":"0.27","1942":"0.11","1943":"0.10","1944":"0.28","1945":"0.17","1946":"-0.01","1947":"-0.04","1948":"-0.05","1949":"-0.07","1950":"-0.15","1951":"0.00","1952":"0.04","1953":"0.13","1954":"-0.10","1955":"-0.13","1956":"-0.18","1957":"0.07","1958":"0.13","1959":"0.08","1960":"0.05","1961":"0.10","1962":"0.11","1963":"0.12","1964":"-0.14","1965":"-0.07","1966":"-0.01","1967":"0.00","1968":"-0.03","1969":"0.11","1970":"0.06","1971":"-0.07","1972":"0.04","1973":"0.19","1974":"-0.06","1975":"0.01","1976":"-0.07","1977":"0.21","1978":"0.12","1979":"0.23","1980":"0.28","1981":"0.32","1982":"0.19","1983":"0.36","1984":"0.17","1985":"0.16","1986":"0.24","1987":"0.38","1988":"0.39","1989":"0.29","1990":"0.45","1991":"0.39","1992":"0.24","1993":"0.28","1994":"0.34","1995":"0.47","1996":"0.32","1997":"0.51","1998":"0.65","1999":"0.44","2000":"0.43","2001":"0.57","2002":"0.62","2003":"0.64","2004":"0.58","2005":"0.67","2006":"0.64","2007":"0.62","2008":"0.54","2009":"0.65","2010":"0.72","2011":"0.58","2012":"0.64","2013":"0.67","2014":"0.74","2015":"0.93","2016":"0.99"}}

In [90]:
oceans = pd.read_json("data/ocenas.json", orient="column")
oceans.drop(columns="description", inplace=True)
oceans.drop(["title","units","base_period","missing"], inplace=True)
oceans.index.name = "year"
oceans.rename(columns={"data": "temp"}, inplace=True)
oceans.index = pd.to_datetime(oceans.index).year
oceans.head()

      temp
year
1880 -0.12
1881 -0.09
1882 -0.10
1883 -0.18
1884 -0.27

#### Primer: temperatures.json

In [93]:
#!head data/temperatures.json

In [94]:
import json

with open("data/temperatures.json") as f:
    d = json.load(f)

In [96]:
temps_json = json.dumps(d["data"])

In [98]:
temps = pd.read_json(temps_json, orient="index")

In [99]:
temps.head()

        value  anomaly
189512  50.34    -1.68
189612  51.99    -0.03
189712  51.56    -0.46
189812  51.43    -0.59
189912  51.01    -1.01

#### Primer: cities.json

In [2]:
import pandas as pd
import json

In [4]:
!head -n 3 data/cities.json

[{"name":"Aachen","id":"1","nametype":"Valid","recclass":"L5","mass":"21","fall":"Fell","year":"1880-01-01T00:00:00.000","reclat":"50.775000","reclong":"6.083330","geolocation":{"type":"Point","coordinates":[6.08333,50.775]}}
,{"name":"Aarhus","id":"2","nametype":"Valid","recclass":"H6","mass":"720","fall":"Fell","year":"1951-01-01T00:00:00.000","reclat":"56.183330","reclong":"10.233330","geolocation":{"type":"Point","coordinates":[10.23333,56.18333]}}
,{"name":"Abee","id":"6","nametype":"Valid","recclass":"EH4","mass":"107000","fall":"Fell","year":"1952-01-01T00:00:00.000","reclat":"54.216670","reclong":"-113.000000","geolocation":{"type":"Point","coordinates":[-113,54.21667]}}

In [7]:
# ne pidobimo podatkov za geolokaicjo, moremo dobit bojši način
cities = pd.read_json("data/cities.json", orient="records")
cities.head(2)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN

In [29]:
with open("data/cities.json", encoding="utf-8") as f:
    d = json.load(f)

In [30]:
from pandas import json_normalize

cities = json_normalize(d)

cities["coordinate_x"] = cities["geolocation.coordinates"].str[0].astype("float")
cities["coordinate_y"] = cities["geolocation.coordinates"].str[1].astype("float")
cities.drop(columns=["geolocation.coordinates", ":@computed_region_cbhk_fwbd", ":@computed_region_nnqa_25f4"], inplace=True)
cities.set_index("name", inplace=True)
cities["mass"] = pd.to_numeric(cities["mass"])
cities["id"] = pd.to_numeric(cities["id"])
# ...podobno še ostale stolpce
cities.head()

,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation.type,coordinate_x,coordinate_y
name,,,,,,,,,,,
Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,Point,6.08333,50.77500
Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,Point,10.23333,56.18333
Abee,6,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,Point,-113.00000,54.21667
Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,Point,-99.90000,16.88333
Achiras,370,Valid,L6,780.0,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,Point,-64.95000,-33.16667

In [28]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Aachen to Tomakovka
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1000 non-null   int64
 1   nametype          1000 non-null   object
 2   recclass          1000 non-null   object
 3   mass              972 non-null    float64
 4   fall              1000 non-null   object
 5   year              999 non-null    object
 6   reclat            988 non-null    object
 7   reclong           988 non-null    object
 8   geolocation.type  988 non-null    object
 9   coordinate_x      988 non-null    float64
 10  coordinate_y      988 non-null    float64
dtypes: float64(3), int64(1), object(7)
memory usage: 93.8+ KB

#### Primer: transactions.json

In [31]:
with open("data/transactions.json") as f:
    data = json.load(f)

In [37]:
trans = json_normalize(data["txs"], record_path=["out"], meta=["time", "vin_sz"])
trans.head(10)

,spent,tx_index,type,addr,value,n,script,time,vin_sz
0,False,0,0,1H7r57SXAwaKs3Tf5ugbkRNxwfh9YaxC5b,7541,0,76a914b0cd787a7a879ac0a5277b0013ec7b11c145055d...,1586376721,2
1,False,0,0,1BPULhbGfrojrknyD7aZYMtRVUu38Cn75j,1364400,1,76a91471f13b222426eb80b47d2413d21a8904ec1966b2...,1586376721,2
2,False,0,0,1LQ6YURobx4EGZRp8bdEDHup6T56o5NGKN,3127836,0,76a914d4c895721d3a8cd74bb3ccbb699a3dbe342c0807...,1586376722,1
3,False,0,0,1HSLVVSSQmzaNG8sbakhFDrmpzUPZLnYCe,30036732,1,76a914b44cae99837337275d21d2c5c6ed6cddf7a7e9f7...,1586376722,1
4,False,0,0,3Lb2MJWbBE88BUHf6tAw8ZzhkR6H2cYRhR,206183,0,a914cf48401e3cf81080352f281ea859ccabd51a821487,1586376721,1
5,False,0,0,1AaP45ZyG57nuXuJsfThsVbLd8f5KxCViB,548821,1,76a9146909448d29bcaff4ed5c6583dca590c1fb806e6b...,1586376721,1
6,False,0,0,3JXRVxhrk2o9f4w3cQchBLwUeegJBj6BEp,121544697,2,a914b8a9a8ba8cf965b7df6b05afd948e53c351b2c0d87,1586376721,1
7,False,0,0,1Lx9LtGxPAiRZqvuKKuAfYjoTanYJjSh31,29787646,0,76a914dad83b667ec2d442ab2d6296615ff480fbb39bfe...,1586376720,2
8,False,0,0,1FPmmrMckZFfGMQaqk9xBzM8HVhaGGqshr,19786,0,76a9149de04978790073cf6cd65ef9afd2c9fe9f2cc8be...,1586376720,1
9,False,0,0,3BnTAzyTSFp8oj1Jxau3epcrfCJKzCwmYf,34110,1,a9146eb86a2733e4f1baad36473eebedecbc95497d4387,1586376720,1

#### Primer: all_hour_geo.json

#### Primer: rates.json

### Python Pickle Format

In [38]:
# pripravimo datoteko za pisnaje v pickle format
titanic = pd.read_csv('data/titanic_sub.csv', 
                     index_col='PassengerId',
                     usecols=['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'Fare', 'Cabin', 'Embarked'])

In [40]:
titanic.head(3)

             Survived  Pclass     Sex   Age     Fare Cabin Embarked
PassengerId
1                   0       3    male  22.0   7.2500   NaN        S
2                   1       1  female  38.0  71.2833   C85        C
3                   1       3  female  26.0   7.9250   NaN        S

In [41]:
titanic.to_pickle("data/titanic_sub.pkl")

In [42]:
titanic_read = pd.read_pickle("data/titanic_sub.pkl")

In [44]:
titanic_read.head(3)

             Survived  Pclass     Sex   Age     Fare Cabin Embarked
PassengerId
1                   0       3    male  22.0   7.2500   NaN        S
2                   1       1  female  38.0  71.2833   C85        C
3                   1       3  female  26.0   7.9250   NaN        S

### Excel files

In [48]:
# opcija 1: želimo določen list
df_2002 = pd.read_excel("data/battledeath.xlsx", sheet_name="2002")
df_2002.head()

  War, age-adjusted mortality due to       2002
0                        Afghanistan  36.083990
1                            Albania   0.128908
2                            Algeria  18.314120
3                            Andorra   0.000000
4                             Angola  18.964560

In [51]:
# opcija 2: želimo delati z več listi
xls = pd.ExcelFile("data/battledeath.xlsx")
df_2002 = pd.read_excel(xls, sheet_name="2002")
df_2002.head()

  War, age-adjusted mortality due to       2002
0                        Afghanistan  36.083990
1                            Albania   0.128908
2                            Algeria  18.314120
3                            Andorra   0.000000
4                             Angola  18.964560

In [52]:
xls.sheet_names

['2002', '2004']